[submodule "packages/Subrepo123"]
	path = packages/subrepo123
	url = https://github.com/staudenmaiermax/subrepo123
[submodule "packages/Subrepo456"]
	path = packages/Subrepo456
	url = https://github.com/staudenmaiermax/Subrepo456
[submodule "packages/subrepo1"]
	path = packages/subrepo1
	url = https://github.com/staudenmaiermax/subrepo1
